/* Title Section */
#title
{
    background-color: #ff4c68;
    color:white;
}


/************************Classes***********/
.container-fluid
{
    padding: 2% 15%;
}


/*************************Tags***************/
body
{
    font-family: 'Montserrat';
}

h1
{
    font-family: 'Montserrat-black';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2
{
    font-family: 'Montserrat-black';
    font-size: 3rem;
    line-height: 1.5;
}

h3
{
    font-family: sans-serif;
}

p
{
    color: gray;
}

/*********** Navigation Bar ***************/
.navbar
{
    padding: 0% 0% 4.5rem;
}
.navbar-brand
{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item
{
    padding-left: 18px;
    padding-right: 18px;
}
.nav-link
{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

/********** Download Buttons *****************/
.download
{
    margin: 5% 3% 5% 0%;
}

/************ Title Image **************/
.title-img
{
    width: 60%;
    transform: rotate(30deg);
    position: absolute;
}

/* Feature Section */
#features
{
    padding: 7% 15%;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.feature-box
{
    text-align: center;
    padding: 5%;
}

/*Testimonials Section*/
#testimonials
{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.dog-img
{
    width: 10%;
    border-radius: 100%;
    margin:20px
}
.carousel-item
{
    padding: 7% 15%;
   
}

.carousel-inner
{
    padding-top: 15%;
    margin-top: 13%;
}

/* Press Section */
#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-img
{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing Section */
#pricing
{
    padding: 100px;
    text-align: center;
}
.pricing-col
{
    padding: 3% 2%;
}

#cta
{
    padding-top: 3%;
    text-align: center;
    background-color:#ff4c68;
    color: white;
    font-family: 'Montserrat-light';
}
#footer
{
    text-align: center;
}

@media (max-width:1028px)
{
    #title
    {
        text-align: center;
    }
    .title-img
    {
        position: static;
        transform: rotate(0);
    }

}
